body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* PROFILE SECTION */
.profile-wrapper {
  align-items: center;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#profile_img {
  margin: 0 auto;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.profile-wrapper > h2 {
  font-size: 1em; 
}